/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff80b3, #4d4dff); /* Background gradient color */
}

/* Center-align header text */
header {
  text-align: center;
  margin-top: 2rem;
}

h1 {
  color: #ffffff; /* White color */
  font-size: 3rem; /* Larger font size */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Nicer font */
  border-bottom: 2px solid #ffffff; /* Bottom border */
  padding-bottom: 0.5rem; /* Adjust spacing */
}

h3 {
  padding: 5%;
  text-align: center;
}
h2 {
  padding: 5%;
  text-align: center;
}

/* Center-align and style main content */
main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Adjust as needed */
}



/* Style the affirmation text */
.affirmation {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5); /* White with transparency */
  border-radius: 10px;
}

/* Style the "Generate Affirmation" button */
button {
  padding: 0.5rem 1rem;
  background-color: #0526e1; 
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Change button background color on hover */
button:hover {
  background-color: #009966; /* Darker green */
}

/* Style footer text */
footer {
  text-align: center;
  margin-top: 2rem;
  color: white;
}
